:root {
    --brand-color-white: #ffffff;
    --brand-color-black: #212121;
    --brand-color-blact-two: #000000;
    --brand-color-grey: #757575;
    --brand-color-blue: #2196F3;

    
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    /* color: #000000; */
    background: var(--brand-color-white);

}
h1, h2, h3, h4, h5, h6, ul, p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
.link-off {
    text-decoration: none;
    color: var(--brand-color-black);
    font-size: 14px;    
}

.list-off {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;    
    color: var(--brand-color-blact-two);
}
.logo span {
    color: var(--brand-color-blue);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* outline: solid tomato; */
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.site-nav-set {
    display: flex;
    align-items: center;
}


.site-nav-element + .site-nav-element {
    margin-left: 50px;
}
.site-nav-element>.link-off:hover,
.site-nav-element>.link-off:focus, .current  {
    color: var(--brand-color-blue);
}

.site-nav-element .link-off{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    
}
.auth-set {
    display: flex;
    margin-left: auto;
}
.auth-set-item + .auth-set-item {
    margin-left: 50px;
}
.auth-set-item>.link-off {
    font-weight: 500;
    color: var(--brand-color-grey);
}

.auth-set-item>.link-off:hover,
.auth-set-item>.link-off:focus {
    color: var(--brand-color-blue);
}
.header-page > .container {
    padding: 24px 0 25px 0;
    display: flex;
    align-items: center;
}
.logo.link-off {
    margin-right: 93px;
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A;;
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--brand-color-white);
}
/* Доопрацювати */
.button-hero {
    
    padding: 10px 32px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    /* text-align: center; */
    letter-spacing: 0.06em;
    
    color: var(--brand-color-white);
    
    
    background: var(--brand-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}
.button-hero:hover {
    background: #188CE8;
}


.portfolio-button {
    display: flex;
    padding: 6px 22px;
    
    margin-left: 4px;
    margin-right: 4px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--brand-color-black);
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    
}
.button-list button:hover, 
.button-list button:focus {

    color: var(--brand-color-white);
    background: var(--brand-color-blue);
    
    /* shadow-middle */    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Список статтей */
.work-set {    
    display: flex;
}
.work-set-item {    
    width: 270px;
}
.work-set-item + .work-set-item{
    margin-left: 30px;
}

.work-set-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--brand-color-black);
}
.work-set-text {
    font-size: 14px;
    line-height: 24px;
        /* or 171% */    
    letter-spacing: 0.03em;
    
    color: var(--brand-color-grey);
}

/* photo-list */
.photo-list-title, .personal-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--brand-color-black);
}
.photo-list {
    display: flex;
}

.photo-list-item + .photo-list-item {
    margin-left: 30px;
}
.photo {
    padding-top: 0;
}

/* Наша команда */
.personal.section {
    background: #F5F4FA;;
}
.personal-set {
    display: flex;
}
.personal-set-item {
    background: var(--brand-color-white);
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.personal-set-item + .personal-set-item{
margin-left: 30px;
}

.personal-set-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--brand-color-black);
}
 .personal-set-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--brand-color-grey);
 }
 /* Footer */
 .footer-page {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;    
 }
 .footer-page .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--brand-color-white);
 }
 
.address .link-off{
    display: block;
    font-style: normal;    
    line-height: 1.5;    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-item +  .address-item {
    margin-top: 9px;
  }
.address-item .one {
    color: var(--brand-color-white);
}

/* Portfolio */

.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.portfolio-card-set {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
}
 .portfolio-card-item {
    margin-top: 30px;
    margin-left: 30px;
    /* outline:  solid tomato; */
 }
 .portfolio-card-title {
    margin-bottom:4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: var(--brand-color-black);
 }
 .portfolio-card-text {
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: var(--brand-color-grey);
 }
 .portfolio-card-frame {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;

 }